
.wrap { padding: clamp(24px, 6vw, 80px) 0; }
.container { width: min(1500px, 92vw); margin: 0 auto; text-align: center; }
.titlebox {max-width: 800px; margin: 0px auto;}
.title { margin: 0 0 8px; font-weight: 800; letter-spacing: 0.08em; }
.kicker { margin: 0 0 clamp(20px, 6vw, 20px); color: #333; line-height: 1.6; font-family: var(--font-poppins), system-ui, -apple-system, sans-serif; }
.kicker2 { margin: 0 0 clamp(20px, 6vw, 40px); color: #333; line-height: 1.6; font-family: var(--font-poppins), system-ui, -apple-system, sans-serif; font-weight: 500; }


.grid { display: grid; grid-template-columns: 1fr; gap: 0px; }
@media (min-width: 992px) { .grid { grid-template-columns: 1fr 1fr; } }


.card {
  position: relative;
  display: block;
  min-height: 320px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 0px;
  isolation: isolate;
  text-decoration: none;
  color: #fff;
  outline: none;
  --bg: none; 
}


.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg) center / cover no-repeat;
  transform: scale(1.05);
  transition: transform 400ms ease-in-out;
  z-index: 0;
}


.card:hover::before,
.card:focus-visible::before { transform: scale(1); }


.overlay {
  position: absolute; inset: 0;
  background: rgba(0,0,0,0.3);
  transition: background 300ms ease;
  z-index: 1;
}
.card:hover .overlay,
.card:focus-visible .overlay { background: rgba(0,0,0,0.5); }


.inner {
  position: absolute;
  inset: 35px;
  z-index: 2;
  padding: clamp(16px, 3vw, 28px);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  transform: translateY(0);
}


.heading {
  font-weight: 800;
  font-size: clamp(18px, 2.6vw, 32px);
  letter-spacing: .06em;
  text-shadow: 0 1px 0 rgba(0,0,0,.25);
  transform: translateZ(0);
}


.desc {
  font-family: var(--font-poppins), system-ui, -apple-system, sans-serif;
  max-width: 680px;
  font-size: clamp(14px, 1.6vw, 16px);
  line-height: 1.6;
  text-align: center;
  text-wrap: pretty;
  will-change: opacity, max-height;
  opacity: 1;
  max-height: 20em;
  overflow: hidden;
}


.up .inner .heading {
    margin-bottom: 20px;
}

.down .inner .heading {
    margin-top: 20px;
}



@media (min-width: 992px) {
  
  .inner {
    transition: transform 400ms ease-in-out;
  }
  .heading {
    
    margin-bottom: 0;
    transition: margin-bottom 400ms ease-in-out;
  }
  .desc {
    
    opacity: 0;
    max-height: 0;
    transition: opacity 400ms ease-in-out,
                max-height 400ms ease-in-out;
  }


  .up .inner {
    transform: translateY(45%);
  }


  .down .inner {
    transform: translateY(-45%);
  }


  .card:hover .inner,
  .card:focus-visible .inner {
    transform: translateY(0);
  }
  

  .card:hover .heading,
  .card:focus-visible .heading {
      margin-bottom: 20px;
  }


  .card:hover .desc,
  .card:focus-visible .desc {
    opacity: 1;
    max-height: 20em;
  }
}

