.section {
  background: #fff;
  padding: 50px 0 70px;
  direction: rtl;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 24px;
}

.topGrid {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 42px;
  align-items:center;
  margin-bottom: 42px;
}

.leftTitleBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 150px;
}

.bigTitle {
  margin: 0;
  color: #000;
  font-size: clamp(42px, 5vw, 74px);
  line-height: 0.95;
  font-weight: 900;
  letter-spacing: 1px;
}

.topContent {
  max-width: 900px;
}

.mainHeading {
  margin: 0 0 18px;
  color: #111;
  font-size: clamp(24px, 3vw, 42px);
  line-height: 1;
  font-weight: 900;
  letter-spacing: 1px;
}

.topColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px;
}

.topColumns p,
.textBlock p {
  margin: 0 0 16px;
  color: #242424;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
}

.fullImageWrap {
  margin: 0 0 50px;
}

.fullImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.twoColBlock {
  display: grid;
  grid-template-columns: 1fr 540px;
  gap: 42px;
  align-items: start;
  margin-bottom: 50px;
}

.reverseBlock {
  grid-template-columns: 540px 1fr;
}

.textBlock {
  padding: 8px 0;
}

.logoTextWrap {
  margin-bottom: 14px;
}

.logoTextWrap img {
    max-width: 350px;
}

.sinotrukRed {
  color: #ff2727;
  font-size: clamp(30px, 4vw, 56px);
  line-height: 0.95;
  font-weight: 900;
  letter-spacing: 1px;
}

.boldenBlack {
  color: #000;
  font-size: clamp(24px, 3vw, 42px);
  line-height: 1;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 4px;
}

.sectionHeading {
  margin: 0 0 22px;
  color: #000;
  font-size: clamp(34px, 4vw, 58px);
  line-height: 0.95;
  font-weight: 900;
  letter-spacing: 1px;
}

.sideImageWrap {
  width: 100%;
}

.sideImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (max-width: 1100px) {
  .topGrid,
  .twoColBlock,
  .reverseBlock {
    grid-template-columns: 1fr;
    gap: 28px;
  }

  .leftTitleBox {
    min-height: auto;
  }

  .topColumns {
    grid-template-columns: 1fr;
    gap: 18px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 36px 0 50px;
  }

  .container {
    padding: 0 16px;
  }

  .topGrid {
    margin-bottom: 28px;
  }

  .fullImageWrap,
  .twoColBlock {
    margin-bottom: 32px;
  }

  .topColumns p,
  .textBlock p {
    font-size: 14px;
    line-height: 1.55;
  }
}